:host {
  position: relative;
  display: block;
  height: 100%;
  max-height: calc(100% - 90px);
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  background: #000;

  .img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all .5s;
  }

  .reject {
    transform: translate3d(150%, 50px, 0px) rotate(20deg) scale(1);
  }

  .accept {
    transform: translate3d(-150%, 50px, 0px) rotate(-20deg) scale(1);
  }

  @media only screen and (min-width: 769px) {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}
