:host {
  display: block;
  width: 100%;
  height: 30px;
  text-align: center;
  font-size: 17px;
  line-height: 30px;
  position: absolute;
  z-index: 1;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}
