<svg fill="#000000" height="18" viewBox="0 0 18 18" width="18" xmlns="http://www.w3.org/2000/svg">
  <path d="M9 11.3l3.71 2.7-1.42-4.36L15 7h-4.55L9 2.5 7.55 7H3l3.71 2.64L5.29 14z"/>
  <path d="M0 0h18v18H0z" fill="none"/>
</svg>
<span>
  ({{score}} / 10)
</span>
