:host {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px 15px;
  background: rgba(255, 255, 255, 0.8);

  svg {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top: -2px;
    fill: #ff00c0;
  }

  span {
    margin-left: 15px;
  }
}
