:host {
  display: block;
  height: 90px;
  padding: 15px;

  .btn {
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 4px 9px 0 rgba(213, 218, 224, .3);
    border: none;
    cursor: pointer;
    transition: all .5s;
    outline: 0 !important;


    &.btn1 {
      svg {
        fill: green;
        width: 40px;
        height: 40px;
      }
    }
    &.btn2 {
      float: right;

      svg {
        fill: red;
        width: 40px;
        height: 40px;
      }
    }
  }

  @media only screen and (min-width: 769px) {
    background: transparent;

    .btn {
      &.btn1 {
        &:hover {
          transform: scale(1.2) rotate(-20deg);
        }
      }
      &.btn2 {
        &:hover {
          transform: scale(1.2) rotate(20deg);
        }
      }
    }
  }
}
