:host{
  position: relative;
  display:block;
  height: 100%;
  margin: auto;
  min-height: 600px;

  .noMoreMovies{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    font-size: 25px;
    background: #000;
    color: #fff;
  }

  @media only screen and (min-width: 769px) {
    width: 375px;
    height: calc(100% - 99px);
    max-height: 700px;
  }
}
