@import "reset";

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  text-shadow: 0 2px 4px rgba(0,0,0,.2);
  font-family: Arial;
  background: #000;

  #bg {
    background: url(assets/bg.jpg) no-repeat center;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    rigth: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
  }

  .wrapper {
    width: 100%;
    height: 100%;
  }

  @media only screen and (min-width: 769px) {
    .wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
